body > header {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

body > header h1 {
  font-size: 50px;
  margin-bottom: 15px;
  margin-left: 20px;
}





/* ==================================
* navigations of page
===================================== */
ul {
  padding-left: 0px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul>li {
  list-style-type:none;
}

article, figure, section, aside, body > header {
  outline: solid 1px;
}

h2, h3, h1, figcaption {
  font-family: "Roboto", sans-serif;
}
section>h1, aside>h3 {
  margin-left: 20px;
}

p, a {
  font-family: "Raleway", sans-serif;
}

figcaption {
  font-weight: 100;
  font-style: italic;
  color: #000405;  
}

a {
  text-decoration: underline;
  font-style: italic;
  color: #000405;
}

article, nav {
  margin: 10px;
}

footer {
  margin-top : 10px;
}

article > h1 {
  font-size: 30px;
}

article > header h1 {
  font-size: 20px;
}

article > header h2 {
  font-size: 15px;
}






/* ==================================
* main section
===================================== */
section header {
  text-align: center;
}

.mainSection {
  display: flex;
  flex-direction: row;
}

.articleContent {
  display: flex;
  flex-flow: row wrap;
}

.articleContent>* {
  width: 45%;
}
.articleContent>figure>* {
  width: 100%;
  overflow: hidden;
}
figure {
  margin: 20px;
}

.articleContent p {
  padding: 15px;
}

.articleContent div:first-of-type {
  margin-left: 15px;
}
.articleContent div:last-of-type {
  order: 1;
}